<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create Appointment</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script type = "text/javascript">

	function validate() {
		if(document.getElementById("date").value ==""){
			alert("Please input a date");
			document.addAppointmentForm.date.focus();
			return false;
		}
		if(document.getElementById("reason").value ==""){
			alert("Please input a reason");
			document.addAppointmentForm.reason.focus();
			return false;
		}
		return true;
	}
</script>
</head>


<body>
	<div class="container my-2" align="center">
		<form name="addAppointmentForm"  th:object="${newAppointment}"
			th:action="@{/addAppointment/{custId}(custId=${customer.id})}"
			method="POST"  onsubmit = "return validate();">
			Appointment Date: <input id = "date" name="date" class="form-control" type="date"
				th:field="*{appointment}"><br /> Reason for appointment: <input id = "reason"
				name="reason" class="form-control" type="text" th:field="*{reason}"><br />
			<input name="submit" type="submit" value="submit"><br />
		</form>
		<a
			th:href="@{/viewCustomerInformation/{custId}(custId=${customer.id})}">Back
			to Customer Information</a>
	</div>

</body>
<div class="footer-basic" align="center">
	<footer>
		<ul class="list-inline">
			<li class="list-inline-item"><a href="/addCustomer">Add
					Customer</a></li>
			<li class="list-inline-item"><a href="/viewAllCustomers">View
					All Customers</a></li>
			<li class="list-inline-item"><a href="/">Home</a></li>
		</ul>
		<p class="copyright">Tony's Auto Shop © 2022</p>
	</footer>
</div>
</html>