<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add a new vehicle</title>
<script>
</script>
</head>
<body>
	<form th:object="${newVehicle}" th:action="@{/addVehicle/{custId}(custId=${customer.id})}" method="post" name="addVehicleForm">
		Make: <input name="make" type="text"><br />
		Model: <input name="model" type="text"><br />
		Year: <input name="year" type="text"><br />
		<input name="submit" type="submit" value="submit"><br />
	</form>
	<a href="viewAllVehicles">View all vehicles</a>
	<a th:href="@{/viewCustomerInformation/{custId}(custId=${customer.id})}">Back to Customer Information</a>
</body>
</html>