<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit Vehicle Information</title>
</head>
<body>
	<form th:object="${newVehicle}" th:action="@{/updateVehicle/{id}(id=${newVehicle.id})}" method='POST'>
		Make: <input name="make" th:field=*{make}> <br />
		Model: <input name="model" th:field=*{model}><br />
		Year: <input name="year" th:field=*{year}><br />
		<input name="submit" type="submit" value="submit" />
	</form>
<a href="viewAllStudents">View all Students</a>
</body>
</html>