<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<body>
	<div class="container my-2" align="center">
		<h3 th:text="${customer.firstName}"></h3>
		<h3 th:text="${customer.lastName}"></h3>
		<table style="width: 80%" border="1"
			class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Id</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Edit</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${customer.id}" />
					<td th:text="${customer.firstName}" />
					<td th:text="${customer.lastName}" />
					<td th:text="${customer.email}" />
					<td><a th:href="@{/editCustomer/{id}(id=${customer.id})}">Edit</a></td>
				</tr>
		</table>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<h4>Vehicles</h4>
				<table style="width: 80%" border="1"
					class="table table-striped table-responsive-md">
					<thead>
						<tr>
							<th>Id</th>
							<th>Make</th>
							<th>Model</th>
							<th>Year</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tr th:each="vehicle : ${customer.vehicles}">
						<td th:text="${vehicle.id}" />
						<td th:text="${vehicle.make}" />
						<td th:text="${vehicle.model}" />
						<td th:text="${vehicle.year}" />
						<td><a
							th:href="@{/editVehicle/{id}(id=${vehicle.id})}"
							class="btn btn-primary">Edit</a></td>
						<td><a
							th:href="@{/deleteVehicle/{id}(id=${vehicle.id})}"
							class="btn btn-primary">Delete</a></td>
					</tr>
				</table>
				<a th:href="@{/addVehicle/{custId}(custId=${customer.id})}"
					class="btn btn-primary">Add Vehicle</a>
			</div>
			<div class="col">
				<h4>Appointments</h4>
				<table style="width: 80%" border="1"
					class="table table-striped table-responsive-md">
					<thead>
						<tr>
							<th>Id</th>
							<th>Date</th>
							<th>Reason for appointment</th>
							<th>Edit</th>
							<th>Delete</th>

						</tr>
					</thead>
					<tr th:each="appointment : ${customer.appointments}">
						<td th:text="${appointment.id}" />
						<td th:text="${{appointment.appointment}}" />
						<td th:text="${{appointment.reason}}" />
						<td><a
							th:href="@{/editAppointment/{id}/(id=${appointment.id})}"
							class="btn btn-primary">Edit</a></td>
						<td><a
							th:href="@{/deleteAppointment/{id}(id=${appointment.id})}"
							class="btn btn-primary">Delete</a></td>
					</tr>
				</table>
				<a th:href="@{/addAppointment/{custId}(custId=${customer.id})}"
					class="btn btn-primary">Add Appointment</a>
			</div>

		</div>
	</div>

</body>
<div class="footer-basic" align="center">
	<footer>
		<ul class="list-inline">
			<li class="list-inline-item"><a href="/addCustomer">Add
					Customer</a></li>
			<li class="list-inline-item"><a href="/viewAllCustomers">View
					All Customers</a></li>
			<li class="list-inline-item"><a href="/">Home</a></li>
		</ul>
		<p class="copyright">Tony's Auto Shop © 2022</p>
	</footer>
</div>
</html>