<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>All Customers</title>
</head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<body>
	<div class="container my-2" align="center">
		<h3>Customer List</h3>
		<table style="width: 80%" border="1"
			class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Id</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Edit</th>
					<th>Delete</th>
					<th>View Customer Information</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="currentCustomer : ${customer}">
					<td th:text="${currentCustomer.id}" />
					<td th:text="${currentCustomer.firstName}" />
					<td th:text="${currentCustomer.lastName}" />
					<td th:text="${currentCustomer.email}" />
					<td><a
						th:href="@{/editCustomer/{id}(id=${currentCustomer.id})}"
						class="btn btn-primary">Edit</a></td>
					<td><a
						th:href="@{/deleteCustomer/{id}(id=${currentCustomer.id})}"
						class="btn btn-primary">Delete</a></td>
					<td><a
						th:href="@{/viewCustomerInformation/{id}(id=${currentCustomer.id})}"
						class="btn btn-primary">View Customer Information</a></td>
				</tr>
		</table>
	</div>
</body>
<div class="footer-basic" align="center">
	<footer>
		<ul class="list-inline">
			<li class="list-inline-item"><a href="addCustomer">Add
					Customer</a></li>
			<li class="list-inline-item"><a href="viewAllCustomers">View
					All Customers</a></li>
			<li class="list-inline-item"><a href="/">Home</a></li>
		</ul>
		<p class="copyright">Tony's Auto Shop © 2022</p>
	</footer>
</div>
</body>
</html>