<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<body>
	<div class="container my-2" align="center">
		<h3 th:text="${customer.firstName}"></h3>
		<h3 th:text="${customer.lastName}"></h3>
		<table style="width: 80%" border="1"
			class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Id</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Delete</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${customer.id}" />
					<td th:text="${customer.firstName}" />
					<td th:text="${customer.lastName}" />
					<td th:text="${customer.email}" />
					<td><a th:href="@{/deleteCustomer/{id}(id=${customer.id})}">Delete</a></td>
				</tr>
		</table>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">Vehicles</div>
			<div class="col">
				<table>
					<tr>
						<td th:text="${customer.appointments}" />
					</tr>
				</table>
				<a th:href="@{/addAppointment/{id}(id=${customer.id})}">Add
					Appointment</a>
			</div>
			<a href="/">Index</a> <br /> <a href="../addCustomer">Add a New
				Customer</a>
		</div>
	</div>

</body>
</html>