<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>All vehicles</title>
</head>
<body>
	<form>
		<table>
			<tr th:each="currentVehicle : ${vehicle}">
				<td th:text="${currentVehicle.id}" />
				<td th:text="${currentVehicle.make}" />
				<td th:text="${currentVehicle.model}" />
				<td th:text="${currentVehicle.year}" />
				<td><a th:href="@{/editVehicle/{id}(id=${currentVehicle.id})}">Edit</a></td>
 				<td><a th:href="@{/deleteVehicle/{id}(id=${currentVehicle.id})}">Delete</a></td>
			</tr>
		</table>
	</form>
	<a href="/">index</a><br />
	<a href="../addVehicle">Add a new vehicle</a>
</body>
</html>